body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #525252;
}

.boton {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #007BFF;
    border: 1px solid #007BFF;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #0056b3;
}